* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.header_ {
    width: 1400px;
    height: 100vh;
}